<div class="social-media">
  <button class="btn ps-2">Agregar Red Social</button>
  <br>
  <br>

  <h2 >Síguenos en nuestras Redes Sociales</h2>
  <p>Sembrando conocimiento: ¡Únete a los semilleros de investigación!</p>

  <ul>
    <li>
      <a href="https://www.facebook.com" target="_blank">
        <i class="pi pi-facebook"></i> Facebook
      </a>
    </li>
    <li>
      <a href="https://twitter.com" target="_blank">
        <i class="pi pi-twitter"></i> Twitter
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com" target="_blank">
        <i class="pi pi-instagram"></i> Instagram
      </a>
    </li>
  </ul>

  <article>Mantente al tanto de los avances más recientes, participa en
    debates académicos, accede a recursos exclusivos y colabora en proyectos innovadores. </article>

    <article>¡"Únete a nuestra comunidad de investigadores apasionados en nuestros grupos
      de semilleros. </article>
      <br>


</div>
