    <div>
        <h2>Registro de Semillero</h2>
        <form >
            <div *ngIf="informacion">
          <div class="form-section">
            <div class="section-title">Información General</div>
            <div class="form-group">
              <label for="logo">Logo o Imagen:</label>
              <input type="file" id="logo" accept="image/*" (change)="onFileSelected($event)" class="form-control">
            </div>
            <div class="form-group">
              <label for="nombre">Nombre del Semillero:</label>
              <input type="text" id="nombre" name="nombre" #nombre required class="form-control" [value]="informacion.nombre">
            </div>
            <div class="form-group">
              <label for="sigla">Sigla del Semillero:</label>
              <input type="text" id="sigla" #sigla required class="form-control" [value]="informacion.sigla">
            </div>
          </div>
  
          <div class="form-section">
            <div class="section-title">Descripción</div>
            <div class="form-group">
              <label for="mision">Misión:</label>
              <textarea id="mision" #mision required class="form-control" [value]="informacion.mision"></textarea>
            </div>
            <div class="form-group">
              <label for="vision">Visión:</label>
              <textarea id="vision" #vision required class="form-control" [value]="informacion.vision"></textarea>
            </div>
            <div class="form-group">
              <label for="palabrasClave">Palabras Clave:</label>
              <input type="text" id="palabrasClave" #palabrasClave required class="form-control" [value]="informacion.palabrasClave">
            </div>
          </div>
  
          <div class="form-section">
            <div class="section-title">Contacto</div>
            <div class="form-group">
              <label for="director">Director del Semillero:</label>
              <input type="text" id="director" #director required class="form-control" [value]="informacion.director">
            </div>
            <div class="form-group">
              <label for="whatsapp">Whatsapp:</label>
              <input type="text" id="whatsapp" #whatsapp required class="form-control" [value]="informacion.whatsapp">
            </div>
            <div class="form-group">
              <label for="instagram">Instagram:</label>
              <input type="text" id="instagram" #instagram required class="form-control" [value]="informacion.instagram">
            </div>
            <div class="form-group">
              <label for="facebook">Facebook:</label>
              <input type="text" id="facebook" #facebook required class="form-control" [value]="informacion.facebook">
            </div>
            <div class="form-group">
              <label for="correo">Correo Electrónico:</label>
              <input type="email" id="correo" #correo required class="form-control" [value]="informacion.correo">
            </div>
          </div>
        </div>
  
          <button type="button" (click)="submitConfig()"  class="btn btn-primary">Guardar</button>
        </form>
      </div>
