
.header {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 0.8rem;

}
.navbar {
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  font-family: 'Söhne', sans-serif;
  font-size: 14px;
  line-height: 19px;
}
.logo{
  margin-left:10em;
}
.login{
  margin-right: 10em;
}
.navbar-nav .nav-item .dropdown-menu {
  background-color: black;
}

.navbar-nav .nav-item .dropdown-item {
  color: white;
  font-family: 'Söhne', sans-serif;
  font-size: 14px;
  line-height: 19px;
}
#carouselExampleCaptions{
  margin-bottom: 200px;
}

.navbar-nav .nav-item .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-outline-light {
  color: white;
  border-color: white;
}

.btn-outline-light:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
@media (max-width: 991.98px) {
  .navbar-nav .nav-item {
    margin-left: 10px;
  
  }
}
